<% layout("/layouts/boilerplate") %>
<body>
    <h3 class="col-8 offset-2 custom-form-class text-center">Create New Listing Here!</h3>
    <div class="row">
        <div class="col-8 offset-2 custom-form-class">

        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="Enter Title" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea placeholder="Enter description" name="listing[description]" class="form-control" required></textarea>
                <div class="invalid-feedback">Please provide brief description</div>
            </div>
            <div class="row">
                <div class="col-md-8">
            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" name="listing[image][url]" placeholder="Upload Listing Image" class="form-control" required>
            </div>
            </div>
                <div class="col-md-4">
                    <label for="category" class="form-label">Add category</label>
                    <select name="listing[category]" class="form-control" required>
                        <!-- <option value="None" disabled selected hidden>Select category</option> -->
                        <option value="Trending">Trending</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Farms">Farms</option>
                        <option value="Mountain">Mountain</option>
                        <option value="City">City</option>
                        <option value="Pools">Pools</option>
                        <option value="Beach">Beach</option>
                        <option value="Castle">Castle</option>
                        <option value="Picnic">Picnic</option>
                        <option value="Camper_Vans">Camper Vans</option>
                      </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="Enter price" class="form-control" required>
                        <div class="invalid-feedback">Please provide a valid price</div>
                    </div>
                </div>
                <div class="col-md-8">

                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>
                        <div class="invalid-feedback">Please provide a valid country</div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
                <div class="invalid-feedback">Please provide a valid location</div>
            </div>

            <div class="d-grid col-md-3 col-sm-2 mx-auto">       
            <button class="btn btn-success new-btn">Add</button>
            </div>
            <br><br>
        </form>
    </div>
    </div>
    
</body>
