<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
    <h2 class="col-6 offset-3 mt-3 text-center custom-form-class">Create an Account!</h2>
    <div class="col-md-6 offset-3 mt-3 custom-form-class">

    <form method="post" action="/signup" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" placeholder="Enter username" class="form-control" id="username" required>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" placeholder="Enter email" class="form-control" id="email" required>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" placeholder="Enter password" class="form-control" id="password" required>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="d-grid col-md-3 col-sm-2 mx-auto">
              <button class="btn btn-success new-btn">Sign Up</button>
        </div>

    </form>
    <div>
        <p class="text-center mt-3">
            Already have account! &nbsp;Login <a href="/login">here</a>.
        </p>
    </div>
    </div>
</div>
</body>
